body {
  position: relative;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  background-color: #bcf2ea;
  background-image: url("assets/dolphin3.png"), url("./dolphin3.png");
  background-position-x: 10px, 40px;
  background-position-y: 10px, 40px;
  background-size: 48px, 48px;
  z-index: -10;
  opacity: 0.3;
}
.img {
  width: 150px;
  position: absolute;
  z-index: -5;
  display: none;
}

.flower {
  bottom: -130px;
  left: -20px;
}

.orange {
  top: -30px;
  right: -50px;
  width: 100px;
}

ul,
li {
  list-style: none;
  cursor: pointer;
}

.answers label:hover {
  background-color: #47d4d3;
  color: #fff;
}
.answers:hover .circle {
  background-color: #1e637c;
}

.login-wrapper {
  padding: 100px 30px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.category-wrapper {
  padding: 30px 10px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.answers label {
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 10px;
  color: #1e637c;
  width: 100%;
  font-weight: 400;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.content,
.login-page,
.result-page,
.leader-board-page {
  padding-top: 50px;
}

.category-page {
  padding-top: 30px;
}

.leader-strip {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.question {
  color: #1e637c;
  max-width: 500px;
  margin: 0 auto;
}

.circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #f4fefd;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.circle span {
  color: #1e637c;
  margin: 0;
}

.answers:hover .circle span {
  color: #fff;
}

.hidden {
  display: none;
}
.progres-bar {
  background-color: #47d4d3;
  border-radius: 0;
  height: 16px;
}

h3,
h4,
label,
p {
  color: #1e637c;
}

.levels-wrapper:hover label {
  cursor: pointer;
}

.radio-bg:hover label {
  cursor: pointer;
}

.login-btn,
.start-btn,
.leaderBoard-btn,
.play-again,
.go-back,
.next-btn,
.exit-btn {
  background-color: #1e637c;
  padding: 5px 10px;
  border-radius: 20px;
}
button {
  border: none;
}

.login-btn:hover,
.start-btn:hover,
.play-again:hover,
.go-back:hover,
.leaderBoard-btn:hover,
.next-btn:hover,
.exit-btn:hover {
  background-color: #287794;
}

.next-btn,
.exit-btn {
  padding: 10px 30px;
}

input {
  border: none;
  outline: none;
  background-color: #f0fefc;
}

.radio-bg {
  background-color: #f0fefc;
}

.categories {
  flex-wrap: wrap;
}
.cat input {
  display: none;
}

.cat label:hover {
  background-color: #d4fef8;
}

.answers input[type="radio"]:checked ~ label {
  background-color: #47d4d3;
  color: #fff;
}

.answers input[type="radio"] {
  opacity: 0;
}

.answers input[type="radio"]:checked ~ span {
  color: #fff;
}
.answers input[type="radio"]:checked ~ circle {
  background-color: #1e637c;
}

.scroll {
  overflow: auto;
  width: 100%;
  height: 300px;
}
/* 70e2da,f4fefd,47d4d3,7a9598, */

@media (min-width: 768px) {
  .content,
  .login-page,
  .category-page,
  .result-page,
  .leader-board-page {
    max-width: 600px;
  }
  .shoe,
  .flower,
  .basket,
  .orange,
  .bicycle {
    display: block;
  }

  .flower {
    left: -80px;
  }

  .orange {
    top: -40px;
    right: -77px;
    width: 100px;
  }
  .basket {
    left: -150px;
    top: -100px;
  }
  .bicycle {
    bottom: -50px;
    right: -100px;
  }
  .shoe {
    top: 130px;
    left: -150px;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .content,
  .login-page,
  .result-page,
  .leader-board-page {
    max-width: 600px;
    padding-top: 100px;
  }

  .shoe {
    top: 80px;
    left: -250px;
  }

  .bicycle {
    bottom: -60px;
    right: -175px;
    width: 200px;
  }

  .basket {
    top: -100px;
    left: -200px;
  }

  .banana {
    display: block;
    top: -70px;
    right: -250px;
  }
}
