@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  position: relative;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Poppins", sans-serif;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  background-color: #cff7f1;
  background-image: url("assets/dolphin3.png"), url("./dolphin3.png");
  background-position-x: 10px, 40px;
  background-position-y: 10px, 40px;
  background-size: 48px, 48px;
  z-index: -10;
  opacity: 0.3;
}
hr:not([size]) {
  height: 5px;
  margin-top: 220px;
  margin-bottom: 50px !important;
}

.answer-wrap {
  margin-top: 50px;
}

.img {
  width: 150px;
  position: absolute;
  z-index: -5;
  display: none;
}

.flower {
  bottom: -130px;
  left: -20px;
}

.orange {
  top: -30px;
  right: -50px;
  width: 100px;
}

ul,
li {
  list-style: none;
  cursor: pointer;
}

.login-wrapper {
  padding: 100px 30px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.category-wrapper {
  padding: 30px 10px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.answers label {
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 10px;
  color: #1e637c;
  width: 100%;
  font-weight: 400;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.content,
.login-page,
.result-page,
.leader-board-page {
  padding-top: 70px;
  padding-bottom: 70px;
}

.category-page {
  padding-top: 20px;
}

.leader-strip {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.question {
  color: #1e637c;
  max-width: 600px;
  margin: 0 auto;
}

.circle {
  color: #1e637c;
  border-radius: 50%;
  width: 30px;
  margin: 0;
  font-weight: 600;
  height: 30px;
  background-color: #f4fefd;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.answers label:hover {
  background-color: #47d4d3;
  color: #fff;
}

.answers:hover .circle {
  background-color: #1e637c;
  color: #fff;
}

.answers input[type="radio"]:checked ~ label .circle {
  background-color: #1e637c;
  color: #fff;
}

.answers input[type="radio"]:checked ~ label {
  background-color: #47d4d3;
  color: #fff;
  border-radius: 20px;
}

.hidden {
  display: none;
}
.progress {
  border-radius: 0;
}

.progress-bar {
  background-color: #47d4d3;
}

h3,
h4,
label,
p {
  color: #1e637c;
}

.levels-wrapper:hover label {
  cursor: pointer;
  background-color: #d4fef8;
  border-radius: 5px;
}

.levels-wrapper input[type="radio"]:checked ~ label {
  background-color: #1e637c;
  color: #fff;
  border-radius: 5px;
}

.login-btn,
.start-btn,
.leaderBoard-btn,
.play-again,
.go-back,
.next-btn,
.exit-btn {
  background-color: #1e637c;
  padding: 5px 10px;
  border-radius: 20px;
}
button {
  border: none;
}

.login-btn:hover,
.start-btn:hover,
.play-again:hover,
.go-back:hover,
.leaderBoard-btn:hover,
.next-btn:hover,
.exit-btn:hover {
  background-color: #287794;
}

.next-btn,
.exit-btn {
  padding: 10px 30px;
}

input {
  border: none;
  outline: none;
  background-color: #f0fefc;
}

.radio-bg {
  background-color: #f0fefc;
}

.categories {
  flex-wrap: wrap;
}

.cat label:hover {
  background-color: #d4fef8;
  cursor: pointer;
}

.check input[type="radio"]:checked ~ label {
  background-color: #1e637c;
  color: #fff;
  border-radius: 5px;
}

.scroll {
  overflow: auto;
  width: 100%;
  height: 300px;
}

.result-page {
  overflow-y: hidden;
  height: 100vh;
}

.confetti {
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  transform-origin: top;
  animation: confetti 20s ease infinite;
}

@keyframes confetti {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 120%);
  }
}

@media (min-width: 768px) {
  .content,
  .login-page,
  .category-page,
  .result-page,
  .leader-board-page {
    max-width: 600px;
  }
  .shoe,
  .flower,
  .basket,
  .orange,
  .bicycle {
    display: block;
  }

  .flower {
    left: -80px;
  }

  .orange {
    top: -40px;
    right: -77px;
    width: 100px;
  }
  .basket {
    left: -150px;
    top: -100px;
  }
  .bicycle {
    bottom: -50px;
    right: -100px;
  }
  .shoe {
    top: 130px;
    left: -150px;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .content,
  .login-page,
  .result-page,
  .leader-board-page {
    max-width: 600px;
    padding-top: 100px;
  }

  .shoe {
    top: 130px;
    left: -320px;
  }

  .bicycle {
    bottom: -60px;
    right: -175px;
    width: 200px;
  }

  .basket {
    top: -100px;
    left: -280px;
  }

  .banana {
    display: block;
    top: -70px;
    right: -300px;
  }
}
